<form [formGroup]="userForm" class="form">
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput type="text" required />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Age</mat-label>
      <input formControlName="age" matInput type="number" required />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>City</mat-label>
      <input formControlName="city" matInput type="text" />
    </mat-form-field>
  </p>
  <p class="send-btn">
    <button
      [disabled]="!userForm.valid"
      (click)="createUser()"
      mat-button
      color="accent"
    >
      Create
    </button>
  </p>
</form>
