<h1 [ngClass]="{'is-odd': odd, 'is-even': !odd}">{{index}} UserComponent</h1>
<p>username: {{username}}</p>
<p>age: {{age}}
  <span *ngIf="age >= 18; else childTpl">
    C'est un adulte
  </span>
</p>
<p>city: {{city}}
  <span [ngSwitch]="city">
    <span *ngSwitchCase="'Strasbourg'">(Il fait chaud)</span>
    <span *ngSwitchCase="'Lille'">(Il pleut)</span>
    <span *ngSwitchDefault>(Ville inconnue)</span>
  </span>
</p>

<button (click)="resetAge()">Reset Age</button>
<ng-template #childTpl>
  <span>Ce n'est pas un adulte</span>
</ng-template>
